# Ignore everything
*

# Only allow
!devtools/conda-envs/alchemiscale-server.yml
!devtools/conda-envs/alchemiscale-compute.yml
!alchemiscale/*
!LICENSE 
!MANIFEST.in 
!README.md 
!setup.cfg 
!setup.py 
