# Ignore everything
*

# Only allow
!devtools/conda-envs/docker-server.yml
!devtools/conda-envs/docker-compute.yml
!alchemiscale/*
!LICENSE 
!MANIFEST.in 
!README.md 
!setup.cfg 
!setup.py 
!versioneer.py
