name: "CI - Integration"
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    # At 07:00 UTC on Monday and Thursday.
    - cron: "0 7 * * 1,4"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  tests:
    runs-on: ${{ matrix.OS }}-latest
    name: "tests"
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu']
        python-version:
          - "3.9"
          - "3.10"

    steps:
      - uses: actions/checkout@v2

      - name: Install environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: devtools/conda-envs/test.yml
          create-args: >-
            python=${{ matrix.python-version }}

      - name: "Install"
        run: python -m pip install --no-deps -e .

      - name: "Environment Information"
        run: |
          micromamba info
          micromamba list

      - name: "Run tests"
        run: |
          pytest -v --cov=alchemiscale --cov-report=xml alchemiscale/tests

      - name: codecov
        if: ${{ github.repository == 'openforcefield/alchemiscale'
                && github.event != 'schedule' }}
        uses: codecov/codecov-action@v2
        with:
          file: coverage.xml
          fail_ci_if_error: False
          verbose: True
